/* index.css */

/* Import Bootstrap */
@import "~bootstrap/dist/css/bootstrap.min.css";

/* Colors */
:root {
  --primary-color: #6C5CE7;
  --success-color: #27AE60; /* Success green color */
  --gray-light: #F5F6FA;
  --gray-medium: #D1D8E0;
  --gray-dark: #4B4E6D;
  --error-color: #EB5757;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--gray-light);
  color: var(--gray-dark);
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* Layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
header {
  text-align: center;
  margin-bottom: 40px;
}

.title {
  font-size: 32px;
  color: var(--primary-color);
}

/* Main */
main {
  display: flex;
  flex-direction: column;
}

/* Section Title */
.section-title {
  font-size: 24px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

/* Update font for All Companies title */
.section-title.all-companies {
  font-family: 'Roboto', sans-serif;
}

/* Company Card */
.company-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: -17px;
  cursor: pointer;
}

/* Apply hover effect */
.company-card:hover {
  transition: transform 0.2s ease-in-out; /* Adjust transition property */
  transform: translateY(-5px); /* Move the card slightly upwards on hover */
}

/* Apply reverse hover effect */
.company-card:not(:hover) {
  transition: transform 0.2s ease-in-out; /* Adjust transition property */
  transform: translateY(0); /* Move the card downwards when not hovered */
}

/* Grid Layout for Company Card Content */
.company-card .row {
  display: grid;
  grid-template-columns: 110px 300px 385px repeat(3, 100px) 150px;
  align-items: center; /* Center align content vertically */
  position: relative; /* Add this line */
}

/* Add grey line before the second column */
.company-card .row::before {
  content: '';
  position: absolute;
  top: 15%; /* Adjust this value to change the starting point of the line */
  bottom: 15%; /* Adjust this value to change the ending point of the line */
  left: 90px; /* Adjust this value to position the line */
  width: 1px;
  background-color: var(--gray-medium); /* Adjust the color as needed */
}

/* Add grey line before the ESG score in the last column */
.company-card .row::after {
  content: '';
  position: absolute;
  top: 15%; /* Adjust this value to change the starting point of the line */
  bottom: 15%; /* Adjust this value to change the ending point of the line */
  right: 60px; /* Adjust this value to position the line */
  width: 1px;
  background-color: var(--gray-medium); /* Adjust the color as needed */
}

.company-card .col {
  padding: 10px;
}

/* Additional styling for Company Name */
.company-name {
  font-size: 18px;
  color: var(--primary-color);
  white-space: nowrap;
}

.ticker {
  font-size: 14px;
  color: var(--primary-color);
  white-space: nowrap;
  display: flex; /* Add this line */
  align-items: center; /* Add this line */
}

.esg-subscore {
  font-size: 15px; /* Make the font size smaller */
  display: flex; /* Add this line */
  align-items: center; /* Align the text to the right */
  margin-right: 10px; /* Add margin to the right */
}

.esg-score {
  font-size: 20px; /* Make the font size smaller */
  display: flex; /* Add this line */
  align-items: center; /* Align the text to the right */
  margin-right: 10px; /* Add margin to the right */
}

/* Footer */
.footer {
  width: 100%;
  height: 50px;
}

.footer p {
  margin: 0; /* Remove default margin */
  line-height: 50px; /* Vertically center the text */
}

/* Loading Spinner */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid var(--primary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Error Message */
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  color: var(--error-color);
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  right: 0px; /* Position from the right of the screen */
}

.search-bar {
  width: 250px; /* Set the width of the search bar */
}

.search-icon {
  position: absolute;
  right: 10px; /* Adjust as needed */
  color: #aaa;
}


/* Footer */
.footer {
  width: 100%;
  height: 50px;
}

.footer p {
  margin: 0; /* Remove default margin */
  line-height: 50px; /* Vertically center the text */
}

/* Loading Spinner */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid var(--primary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Error Message */
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  color: var(--error-color);
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  right: 0px; /* Position from the right of the screen */
}

.search-bar {
  width: 250px; /* Set the width of the search bar */
}

.search-icon {
  position: absolute;
  right: 10px; /* Adjust as needed */
  color: #aaa;
}
