/* Import Bootstrap */
@import "~bootstrap/dist/css/bootstrap.min.css";

/* Colors */
:root {
  --primary-color: #6C5CE7;
  --success-color: #27AE60;
  --gray-light: #F5F6FA;
  --gray-medium: #D1D8E0;
  --gray-dark: #4B4E6D;
  --error-color: #EB5757;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--gray-light);
  color: var(--gray-dark);
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* Layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
header {
  text-align: center;
  margin-bottom: 40px;
}

.title {
  font-size: 32px;
  color: var(--primary-color);
}

/* Main */
main {
  display: flex;
  flex-direction: column;
}

/* Section Title */
.section-title {
  font-size: 24px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

/* User Name */
.user-name {
  font-size: 18px;
  margin-right: 10px;
}

/* Update font for All Companies title */
.section-title.all-companies {
  font-family: 'Roboto', sans-serif;
}

.company-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: -17px;
  cursor: pointer;
  height: 70px;
  display: flex;
  justify-content: center;
}

/* Apply hover effect */
.company-card:hover {
  transition: transform 0.2s ease-in-out;
  transform: translateY(-5px);
}

/* Apply reverse hover effect */
.company-card:not(:hover) {
  transition: transform 0.2s ease-in-out;
  transform: translateY(0);
}

/* Grid Layout for Company Card Content */
.company-card .row {
  display: grid;
  grid-template-columns: 100px 250px 225px 120px 100px 100px 100px 100px 100px;
  align-items: center;
  position: relative;
}

/* Add grey line before the second column */
.company-card .row::before {
  content: '';
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 90px;
  width: 1px;
  background-color: var(--gray-medium);
}

/* Add grey line before the ESG score in the last column */
.company-card .row::after {
  content: '';
  position: absolute;
  top: 25%;
  bottom: 25%;
  right: 60px;
  width: 1px;
  background-color: var(--gray-medium);
}

.company-card .col {
  padding: 10px;
}

/* Additional styling for Company Name */
.company-name {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ticker {
  font-size: 14px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.esg-subscore {
  font-size: 15px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.esg-score {
  color: #27AE60;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

/* Footer */
.footer {
  width: 100%;
  height: 50px;
}

.footer p {
  margin: 0;
  line-height: 50px;
}

/* Loading Spinner */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid var(--primary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Error Message */
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  color: var(--error-color);
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  right: 0px;
}

.search-bar {
  width: 250px;
}

.search-icon {
  position: absolute;
  right: 10px;
  color: #aaa;
}

.trash-button {
  margin-top: 20px;
}

.plus-button {
  margin-top: 20px;
}

.sign-out-button {
  margin-left: 10px;
  margin-top: 20px;
}